.List {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #111;
    position: absolute;
    z-index: 50;
    opacity: 70%;
    width: 100%;
}

.List li {
    float: left;
}

.List li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.List li a:hover {
    background-color: #333;
}


.githubCorner:hover .octoarm {
    animation:octocatwave 560ms ease-in-out} @keyframes octocatwave{0 %,100%{transform:rotate(0)}20%,60%{transform:rotate(-25deg)}40%,80%{transform:rotate(10deg)}}@media
(max-width:500px){
    .github-corner:hover .octoarm{animation:none
    } .githubCorner .octoarm {
          animation: octocatwave 560ms ease-in-out
      }
}

.gitcat {
    fill:#151513;
    color:#fff;
    position: absolute;
    top:0;
    border: 0;
    right: 0;
    z-index: 60;
}

.octoarm {
    transform-origin: 130px 106px;
}
